<img src="{{this.imageUrl}}" alt="{{this.imageUrl}}" class="card-img-top img-beer">
<div class="card-body text-center">

  <h3 class="card-title h3">{{this.name}}</h3>
  <div class="card-text">
    <p>{{this.style}}</p>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <a href="/beers/commentaries/{{this._id}}"><i class="bi bi-link-45deg"></i> Ver más</a>
      </li>
    </ul>
  </div>
</div>