<img src="{{this.imageUrl}}" alt="{{this.imageUrl}}" class="card-img-top img-beer">
<div class="card-body text-center">

  <h3 class="card-title h3">{{this.name}}</h3>
  <div class="card-text">
    <p>{{this.style}}</p>
    <a href="/beers/commentaries/{{this._id}}">Ver más</a>
  </div>
</div>