<div class="img-beers">
</div>
<div>
  <img src="{{this.imageUrl}}" alt="{{this.imageUrl}}">
  <h5>{{this.name}}</h5>
  <p>{{this.style}}</p>
  <p>{{this.abv}}</p>
  <p>{{this.ibu}}</p>
  <p>{{this.description}}</p>
  <p>{{this.pairing}}</p>
  <a href="/user/profile/{{this.author.category}}/{{this._id}}/editproduct">Editar producto</a>
</div>