Aqui se detalla la cheve y se ven los comentarios.

<div>
  <div>
    <h5>{{name}}</h5>
    <p>{{style}}</p>
    <p>{{abv}}</p>
    <p>{{ibu}}</p>
    <p>{{description}}</p>
    <p>{{pairing}}</p>
  </div>
  <form action="/beers/commentaries/{{id}}" method="POST">
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </form>
</div>